Header unset Content-Security-Policy
Header add Content-Security-Policy "default-src 'none'; style-src 'self'; img-src 'self' https://secure.gravatar.com; manifest-src 'self'; base-uri 'none'; form-action 'none'; frame-ancestors 'none';"
Header unset X-Content-Security-Policy
Header add X-Content-Security-Policy "default-src 'none'; style-src 'self'; img-src 'self' https://secure.gravatar.com; manifest-src 'self'; base-uri 'none'; form-action 'none'; frame-ancestors 'none';"
Header unset X-WebKit-CSP
Header add X-WebKit-CSP "default-src 'none'; style-src 'self'; img-src 'self' https://secure.gravatar.com; manifest-src 'self'; base-uri 'none'; form-action 'none'; frame-ancestors 'none';"


Header unset X-Content-Type-Options
Header add X-Content-Type-Options "nosniff"

Header unset Strict-Transport-Security
Header add Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"

Header unset X-Frame-Options
Header add X-Frame-Options "DENY"

Header unset Referrer-Policy
Header add Referrer-Policy "no-referrer"

Header unset X-XSS-Protection
Header add X-XSS-Protection "0"

Header unset Cross-Origin-Opener-Policy
Header add Cross-Origin-Opener-Policy "same-origin"

Header unset Cross-Origin-Embedder-Policy
Header add Cross-Origin-Embedder-Policy "require-corp"

Header unset Cross-Origin-Resource-Policy
Header add Cross-Origin-Resource-Policy "same-origin"

Header unset Permissions-Policy
Header add Permissions-Policy "accelerometer=(), autoplay=(), camera=(), display-capture=(), encrypted-media=(), fullscreen=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), midi=(), payment=(), picture-in-picture=(), publickey-credentials-get=(), screen-wake-lock=(), usb=(), xr-spatial-tracking=()"

Header unset X-Permitted-Cross-Domain-Policies
Header add X-Permitted-Cross-Domain-Policies "none"


Redirect 301 /.well-known/caldav https://calendar.zoho.eu/.well-known/caldav
Redirect 301 /.well-known/carddav https://contacts.zoho.eu/.well-known/carddav


# WebFinger alias: @johannes@holzhaeuer.net -> @holzhaeuer@mastodon.social
<Files "webfinger">
	ForceType application/jrd+json
	Header set Access-Control-Allow-Origin "*"
</Files>
